.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.header .top_banner {
    border-bottom: 1px solid #ddd;
    line-height: 40px;
}

.header .top_banner span {
    margin: 0 0 0 auto;
}

.header .top_banner a {
    margin: 0 0 0 10px;
    padding: 0 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.header .gnb {
    margin: 0 0 0 auto;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;
    /* flex로 붙은 박스들 띄우기, ie에서 안먹음(margin,padding left주기) */
    line-height: 90px;
    /* 이미지와 크기 맞추기 위해 px 값 설정 */
    font-size: 19px;
    /* 폰트 기본 사이즈 거의 16px */
    font-weight: 500;
    /* 폰트 두께 */
}

/* i는 line height가 1이라고 포함되어 있으므로 border right,left를 a에 부여 */

/* display:flex 때문에(크기 쪼그라들음) - 박스 좌우정렬 가능(박스끼리 붙음)
 top banner가 하나의 박스가 되었기 때문에 span인 상태와 같기 때문에 text-align을 해도 이미 양측에 치우쳐있어서 margin으로 오른쪽으로 치우치게 함 */

/* 메인비주얼 */
.main_visual {
    position: relative;
    /* 기준점 설정 */
    height: 600px;
    /* 떠오르는 것들은 0에 수렴하므로 백그라운드 height에 영향x */
    background: url(../img/main_slider01.jpg) no-repeat center top/cover;
}

.main_visual .slogan {
    position: absolute;
    top: 100px;
    right: 600px;
    /* 이미지에 좌우 크기 똑같이 주면 이미지가 커짐 */
}

.main_slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
}

/* 기준은 이미 잡힌 .main_visual */

.main_slider h3 {
    /* font-size: 60px;
    font-weight: 900;
    margin: 0 0 30px 0;
    color: #00f; */
    font-size: 90px;
    font-weight: 900;
    color: #fff;
    text-shadow: 1px 0 3px rgb(255 255 255 / 25%);
    background: linear-gradient(to right top, #0a96ba, #032777, #333333);
    color: transparent;
    -webkit-background-clip: text;
    line-height: 1.4;
    /* 줄 사이 간격 조정, 1.4배 */
}

.main_slider strong {
    display: block;
    margin: 0 0 20px 0;
    color: #fd7e14;
}

.main_slider .slick-dots {
    padding: 30px 0 0 0;
}

/* 작업관리자 통해서 확인하면 slick-dots라는 클래스로 ul 자동생성 확인 가능 */

.main_slider .slick-dots li {
    display: inline-block;
    margin: 0 10px 0 0;
    /* left에 이미 붙어있으므로 margin right에 */
    width: 80px;
    height: 4px;
    /* 버튼이 없어서 안보이므로 li에 height 부여 */
    background: #333;
}

.main_slider .slick-dots li.slick-active {
    background: #fd7e14;
}

/* slick-active는 slick이 실행됐을 때 li에 붙는 class선택자 */

.main_slider .slick-dots button {
    display: none;
    /* li안에 버튼 밖에 없는데 버튼을 없애서 background 사라짐 */
}

.main_banner {
    transform: translateY(-50%);
    /* 띄워서 그만큼 아래에 빈 공간 생김 */
}

.main_banner .container {
    height: 220px;
    /* figure크기 조정을 위해 container 크기를 조정 */
    align-items: flex-end;
}

.main_banner figure {
    display: flex;
    flex: 1;
    /* 1은 축약형*/
    text-align: center;
    /* text-align을 줄만한 게 현재 없어서 없어도 됨, 아래 figure a justify-content 설명 참고 */
    color: #fff;
    justify-content: center;
    /* 내부내용 중앙정렬 */
    align-items: center;
    /* 아이템 중앙정렬 */
    height: 200px;
}

.main_banner figure:hover {
    height: 220px;
}

.main_banner figure:nth-child(1) {
    background: #e7948f;
}

.main_banner figure:nth-child(2) {
    background: #f3ca4f;
}

.main_banner figure:nth-child(3) {
    background: #337688;
}

.main_banner figure:nth-child(4) {
    background: #6fa376;
}

.main_banner figure a {
    /* a태그는 inline */
    display: flex;
    align-items: flex-end;
    /* flex 먹인 곳에 부여 */
    justify-content: center;
    /* flex를 줘서 쪼그라들었기 때문에 figure에 준 text-align:center가 안 돼서 콘텐츠 정렬해줌 */
    width: 100px;
    height: 120px;
    font-size: 13px;
}

.main_banner figure:hover {
    height: 220px;
}

.main_banner figure:nth-child(1) a {
    background: url(../img/icon_set_w.png) no-repeat 0 0;
}

.main_banner figure:nth-child(1):hover a {
    background: url(../img/icon_set_w.png) no-repeat -300px 0;
    transition: 0.5s;
}

.main_banner figure:nth-child(2) a {
    background: url(../img/icon_set_w.png) no-repeat -100px 0;
    /* 좌표가 있어야 애니메이션 가능 */
}

.main_banner figure:nth-child(3) a {
    background: url(../img/icon_set_w.png) no-repeat -200px 0;
}

.main_banner figure:nth-child(4) a {
    background: url(../img/icon_set_w.png) no-repeat -300px 0;
}

.main_banner .customer {
    position: relative;
    flex: 2;
    text-align: right;
    background: #ddd;
    padding: 50px 30px 65px 0;
    /* border: 20px solid transparent; */
    /* transparent: 투명한 색 */
}

.main_banner .customer a {
    display: block;
    margin: 0 0 15px 0;
    font-size: 38px;
    color: #369;
    font-weight: 700;
}

.main_banner .customer i {
    position: absolute;
    /* border는 먹어서 border안에서 띄워짐, padding은 x */
    top: -29px;
    right: 30px;
    color: #fff;
    background: #e7948f;
    font-size: 38px;
    padding: 10px;
    border-radius: 50%;
    /* 상하좌우를 가짐,축약형 */
}

/* 배경 색 설정 */
.main_link {
    padding: 0 0 100px 0;
    background: linear-gradient(to top, #f7f7f7 70%, transparent 30%);
    /* 앞에 있는게 숫자가 크면 두 색간에 선이 생기므로(색 안섞임) 영역설정가능 */
}

.main_link h2 {
    text-align: center;
    margin: 0 0 50px 0;
}

.main_link h2::before {
    content: "";
    display: inline-block;
    /* 이 속성으로 h2와 가로배열 가능 */
    width: 80px;
    height: 1px;
    background: #f00;
    vertical-align: middle;
    /* inline으로 쌓인 것들을 정렬 */
    margin: 0 10px;
}

/* 가상선택자로 제목 옆 줄 넣기 */
.main_link h2::after {
    content: "";
    display: inline-block;
    /* 이 속성으로 h2와 가로배열 가능 */
    width: 80px;
    height: 1px;
    background: #f00;
    vertical-align: middle;
    /* inline으로 쌓인 것들을 정렬 */
    margin: 0 10px;
}

.main_link .container {
    gap: 30px;
    /* 박스 사이 띄우기 위해 */
}

/* 가상선택자로 아이콘 붙이기 */
.main_link li::before {
    content: "\ea10";
    /* 아이콘 html에 쓰고, 작업관리자 style에서 content값 여기다가 붙이기 */
    font-family: xeicon !important;
    /* noto-sans 말고 아이콘에 맞는 폰트 붙여넣기 */

}

.main_link figure {
    position: relative;
    flex: 1;
    border-radius: 50px 0 0 0;
    /* 안먹는 이유: img가 아닌 박스에 효과가 들어감 */
    overflow: hidden;
    /* 넘치는 부분 자르기 → 이미지 바깥 넘치는 박스를 자르기 */
}

.main_link img {
    width: 100%;
    /* inline이지만 width가 먹음, inline-block처럼 행동 */
    margin: 0 0 30px 0;
}

.main_link h3 {
    font-size: 23px;
    /* noto sans px은 홀수가 덜 깨지므로 홀수 px 주는 것이 좋음, 가독성이 높음 */
    margin: 0 0 30px 0;
}

.main_link h3::after {
    content: "";
    /* 내용이 있어야 나오므로 */
    display: block;
    /* 나오라고 박스 만들어줌 */
    width: 80px;
    height: 1px;
    background: #fd7e14;
    margin: 15px 0 15px 0;
}

/* after 태그 뒤 가상 요소 선택자, 스크린 리더기 안되므로 중요한 내용x 
   berfore 태그 앞 가상 요소 선택자, 스크린 리더기 안되므로 중요한 내용x */

.main_link figure a {
    /* position을 가지면 width,height설정 가능 */
    position: absolute;
    top: 50%;
    /* margin도 먹음 */
    right: 30px;
    width: 60px;
    height: 60px;
    background: rgba(243, 202, 79, 0.5);
    /* 네모칸에 커서 대고 색 이름 부분 계속 눌러주면 rgba 나옴*/
    text-align: center;
    line-height: 60px;
    color: #fff;
    border-radius: 50%;
    text-transform: uppercase;
    /* opacity : 안에 있는 모두를 투명하게 함 */
}

.main_link figure a:hover {
    background: rgba(243, 202, 79, 1);
    border-radius: 5px;
}

.footer {
    border-top: 1px solid #ddd;
    padding: 50px 0;
    text-align: center;
}

.footer ul {
    margin: 10px 0;
}

.footer ul>li {
    display: inline-block;
    /* flex는 부모 inline-block은 자기자신 */
}

.footer ul>li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    /* 글자 px보다 작게하는게 좋음 */
    background: #333;
    margin: 0 15px;
    vertical-align: middle;
}

/*  ~ : 밑에 있는 형태들을 선택해 주므로 자기자신은 제외 */

.footer address {
    font-style: normal;
}