@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Permanent+Marker&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
/* 구글에서 구글웹폰트 검색 - 원하는 글자 선택 후 @import에서 코드 복사 후 붙여넣기 */

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    /* CSS rules to specify families에서 복붙 */
    line-height: 1;
}